/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}



.title {
    color: darkslategray;
    font-size: 1.2rem;
    margin: 0;
}



.itemTitle {
    font-size: large;
}

.comboStyle {
    font-size: medium;
}


h4.list-header {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid gray;
}

ul.entree-list {
    padding: 0;
    margin: 0;
   
}

    ul.entree-list > li {
        list-style-type: none;
        border-bottom: 1px solid lightgray;
        margin: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        min-height: 30px;
    }

ul.drink-list {
    padding: 0;
    margin: 0;
    
}

    ul.drink-list > li {
        list-style-type: none;
        border-bottom: 1px solid lightgray;
        margin: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        min-height: 30px;
    }


ul.side-list {
    padding: 0;
    margin: 0;
    
}

    ul.side-list > li {
        list-style-type: none;
        border-bottom: 1px solid lightgray;
        margin: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        min-height: 30px;
    }



ul.menu-list {
    padding: 0;
    margin: 0;
    border-top: 1px solid gray;
}

    ul.menu-list > li {
        list-style-type: none;
        border-bottom: 1px solid lightgray;
        margin: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        min-height: 50px;
    }

.flex-items {

}

.flex-columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
   
    
}

@media (max-width: 490px) {

    .flex-columns {
        flex-direction: column;
    }

}




